package ${packageName}.data;

import cc.iotkit.data.ICommonData;
import ${packageName}.model.${ClassName};
import java.util.List;

/**
 * 数据接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Data extends ICommonData<${ClassName}, Long> {


}
