package ${packageName}.model;

import cc.iotkit.model.Id;
#foreach ($column in $columns)
#if($column.javaField=='tenantId')
#set($IsTenant=1)
#end
#end
#if($IsTenant==1)
import cc.iotkit.model.TenantModel;
#else
import cc.iotkit.data.model.BaseEntity;
#end
import lombok.Data;
import lombok.EqualsAndHashCode;
#foreach ($import in $importList)
import ${import};
#end

import java.io.Serial;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($IsTenant==1)
#set($Entity="TenantModel")
#else
#set($Entity="BaseModel")
#end
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName} extends ${Entity} implements Id<Long>, Serializable{

    @Serial
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;

#end
#end

}
