package ${packageName}.service.impl;

import cc.iotkit.common.utils.MapstructUtils;
import cc.iotkit.common.utils.StringUtils;
#if($table.crud || $table.sub)
import cc.iotkit.common.api.PageRequest;
import cc.iotkit.common.api.Paging;
#end
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import ${packageName}.dto.bo.${ClassName}Bo;
import ${packageName}.dto.vo.${ClassName}Vo;
import ${packageName}.model.${ClassName};
import ${packageName}.service.I${ClassName}Service;
import ${packageName}.data.I${ClassName}Data;

import java.util.List;
import java.util.Collection;
import cc.iotkit.common.exception.BizException;


/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@RequiredArgsConstructor
@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service {

    private final I${ClassName}Data baseData;

    /**
     * 查询${functionName}
     */
    @Override
    public ${ClassName}Vo queryById(${pkColumn.javaType} ${pkColumn.javaField}){
        return MapstructUtils.convert(baseData.findById(${pkColumn.javaField}), ${ClassName}Vo.class);
    }

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    @Override
    public Paging<${ClassName}Vo> queryPageList(PageRequest<${ClassName}Bo> pageQuery) {
        Paging<${ClassName}Vo> result = baseData.findAll(pageQuery.to(${ClassName}.class)).to(${ClassName}Vo.class);
        return result;
    }
#end

    /**
     * 查询${functionName}列表
     */
    @Override
    public List<${ClassName}Vo> queryList(${ClassName}Bo bo) {

        return MapstructUtils.convert(baseData.findAllByCondition(bo.to(${ClassName}.class)), ${ClassName}Vo.class);
    }

    /**
     * 新增${functionName}
     */
    @Override
    public Long insertByBo(${ClassName}Bo bo) {
        ${ClassName} add = MapstructUtils.convert(bo, ${ClassName}.class);
        validEntityBeforeSave(add);
        baseData.save(add);
        if (add == null) {
            throw new BizException("新增失败");
        }
        #set($pk=$pkColumn.javaField.substring(0,1).toUpperCase() + ${pkColumn.javaField.substring(1)})
        return add.get$pk();
    }

    /**
     * 修改${functionName}
     */
    @Override
    public Boolean updateByBo(${ClassName}Bo bo) {
        ${ClassName} update = MapstructUtils.convert(bo, ${ClassName}.class);
        validEntityBeforeSave(update);
        ${ClassName} ret = baseData.save(update);
        if(ret == null){
            return false;
        }
        return true;
    }

    /**
     * 保存前的数据校验
     */
    private void validEntityBeforeSave(${ClassName} entity){
        //TODO 做一些数据校验,如唯一约束
    }

    /**
     * 批量删除${functionName}
     */
    @Override
    public Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids, Boolean isValid) {
        if(isValid){
            //TODO 做一些业务上的校验,判断是否需要校验
        }
        baseData.deleteByIds(ids);
        return true;
    }
}
